<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
	.val {
		font-size: 16px;
		font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important;
	}

	.txt-color {
		color: rgb(82,122,109);
		font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important;
	}

	.item {
		padding: 5px 0 5px 3px;
		border: 1px solid #3a7581;
	}

	p{
		font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important;
		line-height: 1.3;
		letter-spacing: 0.5px;

	}
	ul{
		font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important;
		color: rgb(82,122,109);
		font-family: Inter, serif;
	}

</style>

<table  align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;" >
	<tr>
		<tr>
			<th><img src="https://erpnext.onourway.ca/files/theFinalLetterHeader.png" class="logo" alt="On Our Way"/></th>
		</tr>
	</tr>
	<tr>
		<td colspan='2' bgcolor="#f0f6f9" style="padding: 40px 30px 15px 30px; color: rgb(82,122,109);">
			<h3 class="txt-color">Hello {{ user }},</h3>
			<p class="txt-color val">
				We have received a request to reset your password. Please click the button below to complete the reset:
			</p>
			<!-- <p><a class="btn btn-primary" href="{{ link }}">{{_("Reset password")}}</a></p> <br> -->

			<a href="{{ link }}">
				<button style="padding: 10px 15px; background-color: rgb(58,117,129); border-radius: 5px; border-style: none; font-size: 15px; color: white;">
					Reset password
				</button>
			</a> <br> <br>
			<p class="txt-color val">
                Thank you and stay safe, <br>
				The On Our Way Team
			</p>
			<br>

			<p class="txt-color val" style="text-align: justify; text-justify: inter-word; margin-bottom: 42px !important; ">
				<b>Need help?</b><br>
				Our super friendly team is here for you.<br>
				Reply to this email, or call us at 365-228-5205.<br>
				We look forward to speaking with you!
			</p>

        </td>
	</tr>

	<tr>
		<td><img src="https://erpnext.onourway.ca/files/theFinalFooter.png" class="logo" alt="On Our Way"/></td>
	</tr>
	<tr>
		<td>
			<p class="txt-color val" style="text-align: center; text-justify: inter-word;">

				Privacy + Security Policy: <a href="https://onourway.ca/privacy" style="color: rgb(82,122,109);">View our Privacy and Security Policy</a> <br>

				On Our Way, Oakville, Ontario, Canada <br>

				<a href="https://onourway.ca" style="color: rgb(82,122,109);">Onourway.ca</a><br>

				© 2021. All rights reserved. Proudly Canadian 🇨🇦<br>

			</p>
		</td>
	</tr>

</table>

